/* * {
  border: 2px solid orange;
} */

/* Google Fonts: Noto Sans TC */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

* {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Google Fonts: Noto Sans TC */

body {
  display: flex;
  background-color: #2c2c2c;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.game_scene {
  display: flex;
  width: 80%;
  background-image: linear-gradient(297deg, #faaca8 0%, #ddd6f3 100%);
  padding-right: 10px;
}

.left_part {
  flex: 8;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
  position: relative;
}

.right_part {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.row {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card {
  display: grid;
  transform-style: preserve-3d;
}

.card > .front,
.card > .back {
  grid-area: 1 / 1 / 2 / 2;
  height: 150px;
  width: 90px;
  border-radius: 8px;
}

.card:hover {
  cursor: pointer;
}

.front {
  background-size: cover;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.back {
  background-image: url(img/cardBack.jpg);
  background-size: cover;
  backface-visibility: hidden;
}

.flipped {
  transform: rotateY(180deg);
  transition: 0.5s ease;
  box-shadow: 0 0 20px yellow;
}

.hidden {
  transform: rotateY(180deg);
  transition: 0.5s ease;
  visibility: hidden;
}

/* ====碼表==== */
#stopwatch {
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
}

#stopwatch_text {
  font-size: 70px;
  text-align: center;
  background-color: #105782;
  color: #d1f2eb;
  border-bottom: 3px solid #ddd;
  cursor: default;
}

#stopwatch_time {
  display: flex;
  justify-content: space-evenly;
  background-color: #105782;
  margin-top: 0;
  margin-bottom: 0;
}

#minutes_units,
#minutes_tens,
#seconds_units,
#seconds_tens {
  width: 80px;
  font-size: 80px;
  color: #d1f2eb;
  text-align: center;
  padding: 2px;
  cursor: default;
}

#colon {
  width: 70px;
  font-size: 70px;
  text-align: center;
  color: #d1f2eb;
  cursor: default;
}
/* ====碼表==== */

/* ====遊戲結束框==== */
.wrap {
  text-align: center;
  padding-top: 20%;
}

.popup-wrap {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  content: "";
  background: rgba(0, 0, 0, 0.85);
}

.popup-box {
  width: 50%;
  padding: 50px 75px;
  transform: translate(-50%, -50%) scale(0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  background: #fffde0;
  text-align: center;
}

#endGamePopUpTitle {
  font-size: 80px;
  color: #e9c46a;
}

#endGamePopUpText {
  font-size: 70px;
  color: #888;
}

.close-btn {
  width: 50px;
  height: 50px;
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 100%;
  background: #aaa;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  line-height: 40px;
  font-size: 32px;
}

.transform-in,
.transform-out {
  display: block;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.transform-in {
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}

.transform-out {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
  transform: translate(-50%, -50%) scale(0.5);
}
/* ====遊戲結束框==== */

/* ====漸層邊框gradient border==== */
.gradient-border {
  --borderWidth: 8px;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 5s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* ====漸層邊框gradient border==== */

/* ====遊戲分數排行榜 leaderboard==== */
main {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
}

#header {
  width: 100%;
  display: block;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  text-align: center;
  background-color: #ec7357;
}

h1 {
  font-size: 1.7rem;
  color: #fbffb9;
  cursor: default;
}

#leaderboard {
  width: 100%;
  position: relative;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  color: #fe4365;
  cursor: default;
}

tr {
  transition: all 0.2s ease-in-out;
  border-radius: 0.2rem;
}

#tr_1 {
  background-image: linear-gradient(315deg, #fbab7e 0%, #ffe48c 100%);
}

#tr_2 {
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
}

#tr_3 {
  background-image: linear-gradient(315deg, #08aeea 0%, #2af598 100%);
}

#tr_4 {
  background-image: linear-gradient(135deg, #21d4fd 0%, #b721ff 100%);
}

td {
  height: 10px;
  font-size: 30px;
  padding: 1rem 2rem;
  position: relative;
}

.number {
  height: 5px;
  font-size: 30px;
  text-align: left;
}

.score {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
/* ====遊戲分數排行榜 leaderboard==== */


/* ====控制面板==== */
/* icon: 掃把(清空分數排行榜) */
/* icon: 重新開始restart(直接開新的一局) */
#control_panel {
  display: flex;
  justify-content: space-evenly;
}

/* icon容器div大小 */
.icon {
  width: 70px;
  height: 70px;
  position: relative;
  transform: translate(5px, 5px);
  transition: 0.5s;
}

/* icon圖示大小 */
.icon_img {
  width: 70px;
  height: 70px;
  object-fit: cover;
}

/* icon hover樣式變化 */
.icon:hover {
  border-radius: 8px;
  cursor: pointer;
  transform: translate(-5px, -5px);
  transition: 0.5s;
}

/* icon hover 氣泡提示框 */
.icon:hover::before {
  position: absolute;
  top: -50px;
  left: 50px;
  color: #fff;
  font-size: 13px;
  background: #0080db;
  padding: 5px;
  border-radius: 5px;
}

/* 掃把broom hover 氣泡提示框文字 */
#broom_icon:hover::before {
  content: "Clear Leaderboard";
}

/* 重新開始restart hover 氣泡提示框文字 */
#restart_icon:hover::before {
  content: "New Game";
}

/* 背景音樂 bgm switch icon hover 氣泡提示框文字 */
#bgm_switch_icon:hover::before {
  content: "Music Switch";
}

/* github icon hover 氣泡提示框文字 */
#github_icon:hover::before {
  content: "GitHub";
}
/* ====控制面板==== */

/* ====start icon==== */
#start_icon {
  width: 210px;
  height: 100px;
  position: absolute;
  background-color: #e14343;
  z-index: 999;
  left: 38%;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: #fff;
  padding: 10px;
  box-shadow: 5px 5px 60px rgba(0, 0, 0, 0.4);
  transform: translate(5px, 5px);
  transition: 0.5s;
}

#start_icon:hover {
  cursor: pointer;
  box-shadow: 5px 5px 60px rgba(0, 0, 0, 0.4);
  transform: translate(-5px, -5px);
  transition: 0.5s;
}
/* ====start icon==== */

/* ====禁止點擊click==== */
.disabled {
  pointer-events: none;
  cursor: not-allowed;
}
/* ====禁止點擊click==== */

/* finish text */
#finish_text_1 {
  width: 200px;
  height: 100px;
  position: absolute;
  top: 40%;
  left: 40%;
  font-size: 40px;
  color: #e14343;
}
#finish_text_2 {
  width: 70%;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 18%;
  font-size: 30px;
  color: #ef4e7b;
}
/* finish text */