/* * {
  border: 2px solid orange;
} */
.game_scene {
  display: flex;
}

.left_part{
  flex: 8;
}

.right_part{
  flex: 4;
  background-color: #bbb;
}

.row {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 20px;
}

.hanafuda {
  display: grid;
  transform-style: preserve-3d;
  transition: 0.5s ease;
}

.hanafuda>.front,
.hanafuda>.back {
  grid-area: 1 / 1 / 2 / 2;
  height: 150px;
  width: 90px;
  border-radius: 8px;
}

.front {
  background-size: cover;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.back {
  background-image: url(img/cardBack.jpg);
  background-size: cover;
  backface-visibility: hidden;
}

.flipped{
	transform: rotateY(180deg);
}

.hidden{
  transform: rotateY(180deg);
  visibility: hidden;
  transition: 1s ease;
}